
/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.articles {
		display: block;
	}

	.article {
		margin: 0 10px;
		width: 358px;
	}

	.article-wrap {
		margin-right: 0;
		justify-content: space-around;
	}

	.article-big {
		margin: 0 10px;
	}

	.article-block-2 {
		display: flex;
		justify-content: space-around;
	}

	 .article-tab {
	 	display: block;
	 }

	 .article-desc {
	 	display: none;
	 }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 790px) {
	.article-block-2, .article-wrap {
		display: block;
	}

	.articles {
		margin-bottom: 64px;
	}

	.article {
		height: auto;
		margin: 0 auto 13px auto;
	}

	.content__img {
		display: none;
	}

	.content__img-mob {
		display: block;
		width: 100%;
	}

	.content-mob {
		background: #EAE9D6;
	}

	.content__date {
		width: 62px;
		height: 68px;
	}

	.content__date a span:first-child {
		font-size: 26px;
		line-height: 32px;
	}

	.content__date a {
		font-size: 12px;
		line-height: 16px;
	}

	.info__text {
		a {
			font-size: 18px;
			line-height: 24px;
			span {
				display: inherit;
				font-weight: 700;
			}
			br {
				display: block;
			}
		}
	}

	.button {
		width: 288px;
		font-size: 16px;
	}

	.poster__editorial-staff {
		a {
			font-size: 10px;
			line-height: 9px;
			padding: 3px 6px;
		}
	}

	.content__date {
		top: 11px;
		right: 12px;
	}

	.article__poster  {
		padding: 0px 11px 0 8px;
	}
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px) {
	.article {
		width: 288px;
	}

	.content__picture img{
		width: 100%;
	}

	.content_fon-2 {
		height: 186px;
	}

	.content__picture-text {
		font-size: 26px;
		line-height: 28px;
		padding: 17px 0 0 16px;
		width: 190px;
	} 

}

@media only screen and (max-width : 439px) {

}


